body {
  font-family:  sans-serif;
  margin: 0;
}

/* NAV-BAR */
nav.tb-container {
  position: relative;
  top: 0;
  background: #000;
  left: 0;
  width: 100%;
  color: #fff;
  font-weight: 700;
  display: flex;
  height: 88px;
  padding: 0 30px;
  font-size: 17px;
}

div.tb-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: 1900px;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  height: 50px;
}
.tb-inner a {
  text-decoration: none;
  color: #fff;
}

.tb-help,
.tb-submit,
.tb-sign {
  margin: 0 0 0 0.8rem;
}

.tb-help:hover {
  text-decoration: underline;
}

.tb-buttons button {
  font-size: 24px;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
}

button.tb-submit {
  border: 1px solid #fff;
  background: #000;
}

button.tb-sign {
  border: none;
  background: #4c5fd5;
  border-color: #4c5fd5;
}

/* media query for submits */

/* HOW CAN WE HELP */
section {
  background: #dadbf1;
  display: flex;
}

.s-container {
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 115px;
}

.s-inner {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.s-help {
  font-size: 80px;
  letter-spacing: -4px;
  font-weight: 400;
  margin: 0 0 1rem;
}

.s-sb input,
.s-sb button {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 18px 15px;
  font-size: 24px;
}

.s-sb input {
  width: 60%;
}

.s-sb button {
  width: 10%;
}

/* BODY */
.main {
  padding-left: 30px;
  padding-right: 30px;
}

.main-inner {
  max-width: 1600px;
  width: 80% !important;
  margin: 0 auto;
}

.main-content {
  margin-top: 8rem;

  display: flex;
  flex-wrap: wrap;
}

.category {
  min-height: 115px;
  width: 50%;

  display: flex;
  flex-flow: row;
  margin-bottom: 3rem;
}

.category-icon {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-right: 15px;
}

.category-info {
  position: relative;
  padding: 0 1.5rem 0 0;
  width: 100%;
}

.category-info h3 {
  font-size: 24px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;

  color: #fff;
  background: #000;

  font-size: 12px;
  line-height: 24px;
}


footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}
