body {
  font-family: 'GT American Standard', sans-serif;
  margin: 0;
}

/* Large */
nav.tb-container {
  position: relative;
  top: 0;
  background: #000;
  left: 0;
  width: 100%;
  color: #fff;
  font-weight: 700;
  display: flex;
  height: 88px;
  padding: 0 30px;
  font-size: 17px;
}

div.tb-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: 1900px;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  height: 50px;
}
.tb-inner a {
  text-decoration: none;
  color: #fff;
}

.tb-help,
.tb-submit,
.tb-sign {
  margin: 4px 0 0 0.8rem;
}

.tb-help:hover {
  text-decoration: underline;
}

.tb-buttons button {
  font-size: 24px;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
}

button.tb-submit {
  border: 1px solid #fff;
  background: #000;
}

button.tb-sign {
  border: none;
  background: #4c5fd5;
  border-color: #4c5fd5;
}

/* media query for submits */


header {
  background: #dadbf1;
  display: flex;
  height: 374px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: row;

  color: #fff;
  background: #000;

  font-size: 12px;
  line-height: 24px;
}


footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}
